@model MvcMovieTicketSales.Models.EntityFramework.Skill

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Update", "Skill", FormMethod.Post))
{
    <div class="form-group">
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Güncelle</button>
    </div>
}

